* {
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

#overlay {
    position: absolute;
	top: calc(100vh - 125px);
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

#first {
    animation: fadeIn 5s;
  }
  
  #second {
     animation: fadeIn 10s;
  }
  
  #third {
     animation: fadeIn 15s;
  }

html,
body {
    overflow: hidden;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}